@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --background-secondary: #f8f9fa;
    --text: #3c4043;
    --text-light: #5f6368;
    --border: #e8eaed;
    --primary-light: #4285F4;
    --primary-dark: #8ab4f8;
    --primary-text-light: #ffffff;
    --primary-text-dark: #202124;
    --shadow: rgba(60, 64, 67, 0.15);
    --dashed-border: #dce1e5;
    --error-bg: #fce8e6;
    --error-text: #a50e0e;
    --error-border: #f9ab9f;
  }
 
  .dark {
    --background: #202124;
    --background-secondary: #292a2d;
    --text: #e8eaed;
    --text-light: #9aa0a6;
    --border: #3c4043;
    --shadow: rgba(0, 0, 0, 0.3);
    --dashed-border: #5f6368;
    --error-bg: #3c2828;
    --error-text: #f8b2aa;
    --error-border: #a14136;
  }

  .wm-markdown-preview h1,
  .wm-markdown-preview h2,
  .wm-markdown-preview h3,
  .wm-markdown-preview h4,
  .wm-markdown-preview h5,
  .wm-markdown-preview h6 {
      color: var(--text);
      border-bottom: 1px solid var(--border);
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      line-height: 1.3;
  }
}

/* Custom styles for mermaid diagrams */
.dark .mermaid-content svg {
    background-color: var(--background-secondary);
}

.mermaid-content text {
    font-family: 'Space Mono', monospace !important;
}
